
<mat-card class="mat-elevation-z8">
    <form (ngSubmit)="onSubmit()">
      <div [formGroup]="registerForm">
        <mat-card class="titleCard mat-elevation-z4">
          <h1>{{data.title}}</h1>
        </mat-card>
        <mat-form-field>
          <mat-label>Título</mat-label>
          <input matInput type="text" formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <input matInput type="text" formControlName="description">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Duração (ex: 02:00)</mat-label>
          <input matInput type="text" formControlName="duration" mask="Hh:m0">
        </mat-form-field>
        <div id="imageMovie">
          <img *ngIf="base64 != null" [src]="base64" alt="" id="image">
        </div>
        <span id="nameImage"></span>
        <div>
          <input class="form-control form-control-lg" id="formFileLg" type="file" alife-file-to-base64
            (onFileChanged)="changeFile($event)" formControlName="image">
        </div>
      </div>
      
      <button type="submit" mat-raised-button color="primary">
      {{data.btnTitle}}
      </button>
      
      <button mat-raised-button (click)="cancel()" color="danger">
      Cancelar
      </button>
    </form>
  </mat-card>