.container {
    display: flex;
    margin: 0;
    width: 100%;
  }
  
  .sidenav {
    background-color: #fff;
    width: 200px;
    height: 98%;
  }
  
  .sidenav a {
    color: rgb(43, 43, 43);
  }
  
  .sidenav i {
    padding-right: 10px;
    color: darkblue;
  }
  
  .content {
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 16px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
    width: 90%;
  }