div {
    display: flex;
    flex-direction: column;
  }
  
  button {
    margin: 20px 15px 0px 0px;
  }
  
  button {
    margin: 20px 15px 0px 0px;
  }
  
  
  #formFileLg {
    margin-top: 40px;
  }
  
  .titleCard {
    padding-left: 20px;
    padding-top: 0.5rem;
    margin-top: 0.5px;
    margin-bottom: 15px;
    background-color: #3f51b5a4;
    color: #fff;
  }